[Unit]
Description=mako notification daemon

[Service]
Type=simple
ExecStart=/usr/bin/mako
ExecReload=/usr/bin/makoctl reload

[Install]
WantedBy=graphical-session.target
